extends ./layout/common

block content
  h1.pt-5.text-center.mb-5 Welcome to ClassPin

  .d-flex.flex-row.justify-content-center
    .items
      a.btn.btn-primary.btn-lg(href="/class") Go to your class!
