extends ./layout/common

block head
  link(rel="stylesheet", href="/css/style.css")

block content
  .block(style="height: 75vh; margin-top: 2rem")
    header
      .text-box
        h3.heading-primary
          span.heading-primary__main
            | ClassPin!
          span.heading-primary__sub
            | Class of the future!
        a.btn.btn--white.btn--animated(href="/class") Go to your class
    

    
