extends ./layout/common

block head
  link(rel="stylesheet", href="/css/style.css")

block content
  .block(style="height: 150vh; margin-top: 2rem")
    header
      .text-box
        h3.heading-primary
          span.heading-primary__main
            | ClassPin!
          span.heading-primary__sub
            | Class of the future!
        a.button.button--white.button--animated(href="/class") Go to your class
    .custom-card
      .card-img
        img#img_header(src="/images/humangroups2.jpg", alt="card-img")
      .card-text
        h4#card_heading Welcome to ClassPin
        .description We help students and teachers have a powerful tool for learning
        .cta-links
          .link
            a.button-text(href="/guide") Read the guide &rarr;
    

    
