extends ../layout/common 

block head
  link(rel="stylesheet", href="/css/enroll.css")

block content
  section.section-enroll
      .row
        .enroll
          .enroll__form
            form.form(action='/class/create', method="POST")
              div
                h2.heading-secondary
                  | Create your class
              .form__group
                label.form__label(for='className') Classname
                input#className.form__input(type='text', name="classname", placeholder='class name', required='')
                
              .form__group
                label.form__label(for='subject') Subject
                input#subject.form__input(type='text', name="subject", placeholder='subject', required='')
                            
              .form__group
                label.form__label(for='description') Description 
                textarea.form__input(id="description", name="description", cols="60", rows="5")

              .form__group
                button#custom-btn.btn.btn-primary
                  | Create &rarr;
            if(msg)
              p.mt-3.text-danger= msg