extends ./classcontrol 

block content
  .container.pl-5.pr-5
    h1.text-white Exercise
    .row.mt-5
      .col-sm-3
        .card
          .card-body
            h5.card-title 
              i.fas.fa-exclamation-triangle.mr-2
              | Attention
            p.card-text
              | The pending exercises are the exercises in the waiting list. The members won't see these exercises until you hit publish!
            //- a.card-link(href='#') Card link
            //- a.card-link(href='#') Another link
      .col-sm-9
        .card
          .card-body
            h4.bold
              i.fas.fa-list.mr-2
              | Pending exercises
            .text-center
              a.btn.btn-custom(href="/class/" + classroom._id + "/exercise/create") Create
            hr.mb-4
            if(pendingExercise.length)
              each exercise in pendingExercise
                .card.mb-3
                  .card-header.d-flex.justify-content-between.flip
                    h5.card-title #{exercise.title}
                    .pencil
                      a.btn.btn-primary(href="/class/" + classroom._id + "/exercise/" + exercise._id)
                        i.fas.fa-pencil-alt
                  .card-body.panel
                    p.card-text #{exercise.description}
                    a.btn.btn-primary(href="#") Publish
            else
              .text-center
                p No exercises have been added.
            hr.mb-4
            h4.bold
              i.fas.fa-list.mr-2
              | Published exercises
            hr.mb-4
            if(publishedExercise.length)
              each exercise in publishedExercise
                .card.mb-3
                  .card-header.d-flex.justify-content-between.flip
                    h5.card-title #{exercise.title}
                    .pencil
                      a.btn.btn-primary(href="/class/" + classroom._id + "/exercise/" + exercise._id)
                        i.fas.fa-pencil-alt
                  .card-body.panel
                    p.card-text #{exercise.description}
            else
              .text-center
                p No exercises have been published.
block js
  script.
    $(document).ready(function() {
      $('.flip').click(function(){
        $(this).parent().children('.panel').slideToggle("slow");
      });
    });