extends ../layout/common

block content
  .block(style="min-height: 90vh; margin-top: 7rem")
    .container.mt-3
      if(msg)
        p#msg(style="visibility: hidden;") #{msg}
      h1 Your class
      .btn-group.ml-5
        button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-plus
          span.sr-only Toggle Dropdown     
        .dropdown-menu
          a.dropdown-item(href='/class/create') Create a class
          a.dropdown-item(href='/class/enroll') Enroll a class
      form.mt-3.ml-5.d-inline-block(action="/class/search", method="GET", name="myform")
        .input-group
          input.form-control.bg-light.border-0.small(type='text', placeholder='Search for a class...',  name="q", size="30", value= value? value: "", aria-label='Search', aria-describedby='basic-addon2')
          .input-group-append
            button#btnsubmit.btn.btn-primary(type='button')
              i.fas.fa-search.fa-sm
      hr
      .d-flex.justify-content-start.flex-wrap
        each a in allClass
          .card.bg-light.mb-5.ml-5(style='width: 18rem;')
            .card-header
              a.font-weight-bold(href="/class/" + a._id)= a.classname
              h5.card-title= a.teacher_info[0].name
            .card-body
              p.card-text
                span= a.description

block js
  script.
    var msg = document.getElementById('msg');
    if(msg.textContent === "success") {
      Swal.fire('Deleted successfully!', '', 'success');
    } else {
      Swal.fire('Sorry, an error has occurred !', '', 'info');
    }
    


   
