extends ../layout/common

block head
  link(rel="stylesheet", href="/css/profile.css")

block content
  .block(style="min-height: 100vh; margin-top: 9rem;")
    .container.info
      .heading-profile
        h1.mb-5.heading-secondary Profile
      .profile
        if(matchedUser)
          .item-avatar
            img(src= matchedUser.avatar ? matchedUser.avatar : "/images/unnamed.png", alt="avatar", style="width: 200px; height: 200px; border-radius: 100px; border: 1px solid blue;")
          .item.pt-5.pl-3
            ul
              li
                strong.mr-2 Fullname:   
                span #{matchedUser.name}
              li 
                strong.mr-2 Phone:   
                span #{matchedUser.phone}
              if(auth)
                li 
                  strong.mr-2 Email:   
                  span #{matchedUser.email}
            if(auth)
              .cta-link
                a.btn.btn-outline-info(href="/users/updateprofile/"+ matchedUser.id) Update Profile
        else
          p No information.
      if(passedVariable)
        p#msg(style="visibility: hidden;") #{passedVariable}

block js
  script.
    const msg = document.getElementById('msg');
    if(msg.textContent === 'success') {
    Swal.fire('Saved!', '', 'success');
    } else {
      Swal.fire('Changes are not saved', '', 'info');
    }
    
    
    