extends ../layout/common


block content
  .block(style="height: 75vh; margin-top: 7rem;")
    .container.mt-3
      h1.ml-5.mb-5 Profile
      .d-flex.content--m
        if(matchedUser)
          .item
            img(src= matchedUser.avatar ? matchedUser.avatar : "/images/unnamed.png", alt="avatar", style="width: 200px; height: 200px; border-radius: 100px;")
          .item.pt-5.pl-3
            ul
              li
                strong= matchedUser.name
              li= matchedUser.phone
              li= matchedUser.email
            a.ml-4.btn.btn-outline-info(href="/users/updateprofile/"+ matchedUser.id) Update Profile
        else
          p No information.
      if(passedVariable)
        p#msg(style="visibility: hidden;") #{passedVariable}

block js
  script.
    const msg = document.getElementById('msg');
    if(msg.textContent === 'success') {
    Swal.fire('Saved!', '', 'success');
    } else {
      Swal.fire('Changes are not saved', '', 'info');
    }
    
    
    