extends ../layout/common

block head
  link(rel="stylesheet", href="/css/enroll.css")

block content

  section.section-enroll
      .row
        .enroll
          .enroll__form
            form.form(name='updateProfileForm', onsubmit="validateForm(event)" ,action='/users/updateprofile/' + user._id, method='POST', enctype="multipart/form-data")
              div
                h2.heading-secondary
                  | Update Profile
              .form__group
                label.form__label(for='name') Full name
                input#name.form__input(type='text', placeholder='full name', value=user.name, name="name", required='')
                
              .form__group
                label.form__label(for='email') Email  
                input#email.form__input(type='email', value=user.email, name="email", placeholder='email', required='')
                            
              .form__group
                label.form__label(for='phone') Phone
                input#phone.form__input(type="phone", value=user.phone, name="phone", placeholder='phone', required='')

              .form__group
                label.form__label(for='avatar') Avatar
                input#avatar(type="file", name="avatar")
                              
              .form__group
                button#custom-btn.btn.btn-primary
                  | Comfirm &rarr;

            if(passedVariable)
              p.mt-3.text-danger= passedVariable
block js
  script(type="text/javascript").
    function validateForm(event) {
      event.preventDefault();

      // validate tai day
      Swal.fire({
        title: 'Do you want to save the changes?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Save`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          document.updateProfileForm.submit();
        } else if (result.isDenied) {
          Swal.fire('Changes are not saved', '', 'info')
        }
      }) 
    }