

body{
  font-family: "Poppins", sans-serif;
}

.footer{
  width: 100%;
}

#logo{
  height: 90px;
}

.navbar-nav a{
  margin-right: 10px;
}

#dropdow-avatar{
  margin-right: 100px;
}

footer{
  text-align: center;
  padding: 20px;
  color: #fff;
  width: 100%;
  background-color:  #022044;
}

footer p {
  margin-bottom: 0;
}