@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}


header{
  background-image: 
  linear-gradient(to right bottom, rgba(142, 158, 252, .8),rgba(28, 62, 255, .8)),
  url('/images/background1.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  height: 120vh;
  clip-path: polygon(0 0, 100% 0, 100% 43%, 31% 100%, 0 70%);
}

.text-box{
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo{
    height: 70px;
} 

.logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
} 

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.heading-primary__main{
    display: block;
    font-size: 62px;
    font-weight: 400;
    letter-spacing: 15px;
    margin-bottom: 1rem;
}

.heading-primary__sub{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
}


.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  font-size: 16px;
  position: relative; }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  color: #fff;
  background-color: #5a73fc; }
  .btn--blue::after {
    background-color: #5a73fc; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); }

.btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s; }

.btn-text:link, .btn-text:visited {
  color: #5a73fc;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #5a73fc;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #5a73fc;
  transform: translateY(-0.2rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15); }

