.btn-e:link, .btn-e:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  font-size: 16px;
  position: relative; }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  color: #fff;
  background-color: #5a73fc; }
  .btn--blue::after {
    background-color: #5a73fc; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); }

.btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s; }

.contain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.contain .sub-btn {
  margin-top: 30px;
  text-align: center;
}

footer{
  background-color: rgb(20, 13, 13);
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  display: block;
}