extends ../layout/common

block content
  .block(style="height: 90vh; margin-top: 7rem")
    .container.mt-3
      h1 Guide
      p From the header, click #[strong Dashboard] to go to your content page where you can find and add an existed classroom or create your own classroom.
      img#img1(src="/images/Header_guide.png", alt="card-img" style='width:1000px')
      p If you are finding your classroom, click #[strong Enroll]. Keep in mind that you will need to give the correct ID of the class that was created by your teacher to attend it.
      p If you want to create your own classroom, click the #[strong Create] button, and fill in the form the pieces of information that it requires. Then click #[strong Create] (at the end of the form).
      p Your classrooms will show up on your Dashboard.
      p Click on the name of the class that you want to attend, the navigation bar on the left provides you the resources in that class.
